@import '../../../styles/colors';

.searchBar {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  background-image: url('../../../assets/search.svg');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 4px 4px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  &:hover {
    .searchBar__input {
      width: 250px;
      border-radius: 1rem;
    }
  }

  &__input {
    width: 250px;
    padding: 5px 5px 5px 30px;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid $accent-dark;
    border-radius: 1rem;
    transition: width 0.3s ease-in-out, border-radius 0.1s ease-in-out;

    &:focus {
      width: 250px;
      border-radius: 1rem;
    }

    &_hidden {
      width: 0;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
