@import '../../../styles/colors';

.thumbnailPagination {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;

  display: flex;
  align-items: center;
  gap: 5px;

  width: fit-content;
  padding: 2px;
  background-color: $accent-dark;
  border-radius: 0.5rem;
  opacity: 0.8;

  &__item {
    display: inline-block;

    width: 5px;
    height: 5px;
    padding: 0;
    background-color: $primary-light;
    border-radius: 50%;

    &_active {
      background-color: $accent-light;
    }
  }
}
