@import '../../../../styles/colors';

.wrapper {
  display: grid;
  align-items: center;
  gap: 0.5rem;
}

.title {
  font-weight: 600;
  text-transform: capitalize;
}

.error {
  font-size: 0.7rem;
  color: $accent-light;
  text-align: center;
  overflow: hidden;
  animation-name: showError;
  animation-duration: 500ms;
}

.inputContaiter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.label {
  font-size: 0.7rem;

  &_invalid {
    color: $accent-light;
  }
}

.input {
  margin: 0;
}

@keyframes showError {
  0% {
    height: 0rem;
    opacity: 0.7;
  }

  100% {
    opacity: 1;
    height: 1.5rem;
  }
}
