@import '../../../styles/colors';

.navigation {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
}

.link {
  padding: 0.5rem 1rem;
  font-weight: 600;
  white-space: nowrap;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out;

  &:hover {
    border-bottom: 1px solid $accent-dark;
  }

  &_active {
    color: $accent-dark;
  }
}

@media (max-width: 500px) {
  .navigation {
    gap: 0.5rem;
  }

  .link {
    padding: 0.5rem 0.5rem;
  }
}
